USE [master]
GO
/****** Objeto: Database [EverGlow] Fecha de script: 9/10/2026 11:39:26 ******/
CREATE DATABASE [EverGlow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EverGlow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EverGlow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EverGlow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EverGlow_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EverGlow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EverGlow]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI_657SGA] [int] NOT NULL,
	[Nombre_657SGA] [varchar](100) NOT NULL,
	[Apellido_657SGA] [varchar](100) NOT NULL,
	[Email_657SGA] [nvarchar](100) NOT NULL,
	[Teléfono_657SGA] [int] NOT NULL,
	[Dirección_657SGA] [nvarchar](200) NOT NULL,
	[Activo_657SGA] [bit] NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[DNI_657SGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFactura] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IdDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[ISBN_657SGA] [varchar](13) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[IdDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DVV] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[NombreTabla] [varchar](50) NOT NULL,
	[Digito] [varchar](64) NOT NULL,
 CONSTRAINT [PK__DVV__5BCFB3890DC57862] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evento] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NULL,
	[Criticidad] [int] NULL,
	[Fecha] [date] NULL,
	[Hora] [time](7) NULL,
	[NombreEvento] [varchar](50) NULL,
	[Modulo] [varchar](50) NULL,
	[DNI] [int] NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[DNICliente] [int] NOT NULL,
	[DVH] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[IdFamilia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_x_Familia] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_x_Familia](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHijo] [int] NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Familia_x_Familia] PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre] ASC,
	[IdFamiliaHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[DVH] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Libro] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[Título_657SGA] [nvarchar](100) NULL,
	[ISBN_657SGA] [varchar](13) NOT NULL,
	[Precio_657SGA] [decimal](18, 0) NULL,
	[Existencias_657SGA] [int] NULL,
	[Editorial_657SGA] [nvarchar](100) NULL,
	[Autor_657SGA] [varchar](max) NULL,
	[Activo_657SGA] [bit] NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[ISBN_657SGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil_x_Familia] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_x_Familia](
	[IdPerfil] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Perfil_x_Familia] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Perfil_x_Permiso] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_x_Permiso](
	[IdPerfil] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Perfil_x_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso_x_Familia] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_x_Familia](
	[IdFamilia] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Permiso_x_Familia] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Bloqueado] [bit] NULL,
	[Activo] [bit] NULL,
	[Contraseña] [varchar](64) NOT NULL,
	[IntentosInicio] [int] NULL,
	[Email] [varchar](50) NULL,
	[IdPerfil] [int] NOT NULL,
	[IdIdioma] [int] NULL,
	[DVH] [varchar](64) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([DNI_657SGA], [Nombre_657SGA], [Apellido_657SGA], [Email_657SGA], [Teléfono_657SGA], [Dirección_657SGA], [Activo_657SGA], [DVH]) VALUES (1234567, N'aaa', N'a', N'a', 1, N'a', 1, N'TW5l8UV+5dFzWJb62iJ9PNcv74RDC4eZSZ+wZEtlDwA=')
INSERT [dbo].[Cliente] ([DNI_657SGA], [Nombre_657SGA], [Apellido_657SGA], [Email_657SGA], [Teléfono_657SGA], [Dirección_657SGA], [Activo_657SGA], [DVH]) VALUES (7777777, N'a', N'g', N'aaaa', 1234567890, N'aaaa', 0, N'b8o+fe9+DHd+SXJ1wmCpkJZsBNwbaqhGgFy+yfuz/VI=')
INSERT [dbo].[Cliente] ([DNI_657SGA], [Nombre_657SGA], [Apellido_657SGA], [Email_657SGA], [Teléfono_657SGA], [Dirección_657SGA], [Activo_657SGA], [DVH]) VALUES (11223344, N'a', N'a', N'a', 1, N'a', 1, N'e5r6x2ssmps15fwZ0hvHdqaH7fTH1EVotbwCU/Ryz7E=')
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([IdDetalleFactura], [IdFactura], [ISBN_657SGA], [Cantidad], [Precio], [DVH]) VALUES (1, 3, N'9789878591341', 1, CAST(25000.00 AS Decimal(18, 2)), N'n0S+WtGHax2lyofa0/HrJEU67wNjs58dT7C0vPAF+YM=')
INSERT [dbo].[DetalleFactura] ([IdDetalleFactura], [IdFactura], [ISBN_657SGA], [Cantidad], [Precio], [DVH]) VALUES (2, 4, N'9789878950341', 1, CAST(20000.00 AS Decimal(18, 2)), N'C/epUxW2lLG5iXH9V8j2eyn583WOx1xQJsG5MdYg8HY=')
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
INSERT [dbo].[DVV] ([NombreTabla], [Digito]) VALUES (N'Evento', N'2427281')
INSERT [dbo].[DVV] ([NombreTabla], [Digito]) VALUES (N'Familia', N'11724')
INSERT [dbo].[DVV] ([NombreTabla], [Digito]) VALUES (N'Familia_x_Familia', N'5405')
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([IdEvento], [Login], [Criticidad], [Fecha], [Hora], [NombreEvento], [Modulo], [DNI], [DVH]) VALUES (2, N'vicky', 1, CAST(N'2026-06-23' AS Date), CAST(N'17:53:13.6995426' AS Time), N'Login', N'Usuario', 12345678, N'Y+ZSl3CKUsZKH5Bekf9PXdUGa5UbajippzINSTceWnc=')
INSERT [dbo].[Evento] ([IdEvento], [Login], [Criticidad], [Fecha], [Hora], [NombreEvento], [Modulo], [DNI], [DVH]) VALUES (3, N'vicky', 1, CAST(N'2026-06-23' AS Date), CAST(N'17:53:27.4760376' AS Time), N'Logout', N'Usuario', 12345678, N'7emRTeUSAN+sfi62gcmsOIAC+lyPjcXjR33cmEvHMbQ=')
INSERT [dbo].[Evento] ([IdEvento], [Login], [Criticidad], [Fecha], [Hora], [NombreEvento], [Modulo], [DNI], [DVH]) VALUES (4, N'vicky', 1, CAST(N'2026-06-23' AS Date), CAST(N'18:50:00.4112258' AS Time), N'Login', N'Usuario', 12345678, N'aqx7hu89kf2MBXhZuvic2Ct2OaQ5ZNXOHFd4MBad5IQ=')
GO
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([IdFactura], [NumeroFactura], [Fecha], [Hora], [Total], [DNICliente], [DVH]) VALUES (3, N'FC-B-2026-8307', CAST(N'2026-09-11' AS Date), CAST(N'19:50:28.3642685' AS Time), CAST(25000.00 AS Decimal(18, 2)), 46956657, N'3vAYy5lPeN4nWu8j6G9fLxlLLikZw/kIE17I3ud1M/Y=')
INSERT [dbo].[Factura] ([IdFactura], [NumeroFactura], [Fecha], [Hora], [Total], [DNICliente], [DVH]) VALUES (4, N'FC-B-2026-7593', CAST(N'2026-09-12' AS Date), CAST(N'14:50:44.6231863' AS Time), CAST(20000.00 AS Decimal(18, 2)), 18118401, N'59mecQyZPfqEvJNJHvgLeunTM9pIe0WIp4Z9EHqps9c=')
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DVH]) VALUES (4, N'FamiliaPrueba4', N'0O32AIqjqNf16dyy4kUlK6spunJ/rXR5VUoWjU90b6A=')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DVH]) VALUES (5, N'fam5', N'CfkWfM2U0cHUDvT5f36QFDfcDzutTXpT+Nf6J6XkEsU=')
INSERT [dbo].[Familia] ([IdFamilia], [Nombre], [DVH]) VALUES (7, N'FAMILAAAAA', N'7fRs9LQiU30+Y8ibssdaLau36uz66yYGhec+Dl2gCqk=')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Familia_x_Familia] ([IdFamiliaPadre], [IdFamiliaHijo], [DVH]) VALUES (5, 4, N'SsXjjq7L5/SF/zIEXVTXjIfxUS5VIwHMhH0jloE4nVU=')
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [Codigo], [DVH]) VALUES (1, N'Español', N'es', N'iaEI7AjBrLw0habLBGd0kJGLh9uKoApiVbaVkRoF/70=')
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [Codigo], [DVH]) VALUES (2, N'English', N'en', N'/mBYCtt8Tp2umViquZ4EjzmbjXb0QzaV5zGr36/xORs=')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
INSERT [dbo].[Libro] ([Título_657SGA], [ISBN_657SGA], [Precio_657SGA], [Existencias_657SGA], [Editorial_657SGA], [Autor_657SGA], [Activo_657SGA], [DVH]) VALUES (N'Rebelión en la Granja', N'9789878591341', CAST(25000 AS Decimal(18, 0)), 13, N'Almar', N'George Orwell', 1, N'S8eqCSxed4ze/cMEB/XEUI4WNW9HF+GTVW81mgfks+w=')
INSERT [dbo].[Libro] ([Título_657SGA], [ISBN_657SGA], [Precio_657SGA], [Existencias_657SGA], [Editorial_657SGA], [Autor_657SGA], [Activo_657SGA], [DVH]) VALUES (N'1984', N'9789878950341', CAST(20000 AS Decimal(18, 0)), 19, N'Almar', N'George Orwell', 1, N'H2PlybEhwfiq0k053mJoO/doEXh7VUb/hinjli2XB+s=')
INSERT [dbo].[Libro] ([Título_657SGA], [ISBN_657SGA], [Precio_657SGA], [Existencias_657SGA], [Editorial_657SGA], [Autor_657SGA], [Activo_657SGA], [DVH]) VALUES (N'Nosotros en la Luna', N'9879867543298', CAST(30000 AS Decimal(18, 0)), 10, N'Planeta', N'Alice Kellen', 0, N'8F7hCVGzAehPE9061ae+N9/dNtGROugV7vScHYwfRcc=')
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([IdPerfil], [Nombre], [DVH]) VALUES (1, N'Administrador', N'48oig9IhENybhwmPkw7x/aSx8f1mVnQfvUb41JpxzKE=')
INSERT [dbo].[Perfil] ([IdPerfil], [Nombre], [DVH]) VALUES (2, N'Vendedor', N'YJ0lBotY4ZiotsY4ulzKYS2JA0XNtgGmmBqT9GOnIPk=')
INSERT [dbo].[Perfil] ([IdPerfil], [Nombre], [DVH]) VALUES (8, N'Gerente', N'2jT+XVuRhTL1gnzqGQD+9i2RaQAFRtN156s/vNksdng=')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Perfil_x_Permiso] ([IdPerfil], [IdPermiso], [DVH]) VALUES (1, 1, N'8B+J3CmdHyW+/7eDpoxfBBxae593iSxaVKGzzTZM34Q=')
INSERT [dbo].[Perfil_x_Permiso] ([IdPerfil], [IdPermiso], [DVH]) VALUES (1, 2, N'iy/0PaQ/OdCCP4kYnPZduo3DcB2uldpKZdZMdt8ro1U=')
INSERT [dbo].[Perfil_x_Permiso] ([IdPerfil], [IdPermiso], [DVH]) VALUES (1, 3, N'kyM8OUVPjA4i95b0KyfU8chs30FUTXdPruiVEoGYWb8=')
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [DVH]) VALUES (1, N'ReLogin', N'irBxNNspRrkbvEB6EMYF2wqkmeIFtslQdl7nNlDYBUI=')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [DVH]) VALUES (2, N'Cambiar Idioma', N'BIow0XNd76dN2er62e+Jv70bMHnqPlqUdkHBy6yZ0Mc=')
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [DVH]) VALUES (3, N'Cambiar Clave', N'bYPRwlr6JtcQLx+Y/5KRN0Zg7HhRBbnXUrXMvvrkgCw=')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[Permiso_x_Familia] ([IdFamilia], [IdPermiso], [DVH]) VALUES (4, 2, N'/KYECHwMDzqES59zxY8DdDYhtWN/3q2+Osdlz6aWi/k=')
INSERT [dbo].[Permiso_x_Familia] ([IdFamilia], [IdPermiso], [DVH]) VALUES (4, 3, N'OuzT3oj8Hg9uU7pn/Yt5+svESv8MeaG4yjFAEzwInCU=')
INSERT [dbo].[Permiso_x_Familia] ([IdFamilia], [IdPermiso], [DVH]) VALUES (5, 6, N'u5SSUOh3NYqA4TdrHYhoQp82/jg5fKXmb+AJF/2Crrc=')
GO
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [NombreUsuario], [Bloqueado], [Activo], [Contraseña], [IntentosInicio], [Email], [IdPerfil], [IdIdioma], [DVH]) VALUES (12345678, N'Victoria', N'Fernandez', N'vicky', 0, 1, N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 0, N'vickyfs@gmail.com', 8, 1, N'YtkXh6i/csbeTyvv9cauB7zciY7yFsXpu6RCLAnPZ3g=')
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [NombreUsuario], [Bloqueado], [Activo], [Contraseña], [IntentosInicio], [Email], [IdPerfil], [IdIdioma], [DVH]) VALUES (46956657, N'Sofi', N'Gesualdo', N'sofigesualdo', 0, 1, N'03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4', 0, N'sofigesualdo@hotmail.com', 2, 1, N'Vdz/3EGCqB6x7bMZi3112aMqIq0AH2N1uHOXA6qwz8Y=')
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [NombreUsuario], [Bloqueado], [Activo], [Contraseña], [IntentosInicio], [Email], [IdPerfil], [IdIdioma], [DVH]) VALUES (87654321, N'Pepe', N'Argento', N'pepe', 0, 0, N'72B302BF297A228A75730123EFEF7C4140D2BF16CE9FBE7D187515CAD068BBCE', 0, N'pepe@gmail.com', 1, 1, N'M/x23BWTBeQJA+aKbBe2k3kVcB1Td/RJL2jT9ucPAmw=')
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Activo]  DEFAULT ((1)) FOR [Activo_657SGA]
GO
ALTER TABLE [dbo].[Libro] ADD  CONSTRAINT [DF_Libro_Activo]  DEFAULT ((1)) FOR [Activo_657SGA]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Factura]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Libro] FOREIGN KEY([ISBN_657SGA])
REFERENCES [dbo].[Libro] ([ISBN_657SGA])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Libro]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([DNI])
REFERENCES [dbo].[Usuario] ([DNI])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([DNICliente])
REFERENCES [dbo].[Cliente] ([DNI_657SGA])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Familia_x_Familia]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaFamilia_Hijo] FOREIGN KEY([IdFamiliaHijo])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Familia_x_Familia] CHECK CONSTRAINT [FK_FamiliaFamilia_Hijo]
GO
ALTER TABLE [dbo].[Familia_x_Familia]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaFamilia_Padre] FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Familia_x_Familia] CHECK CONSTRAINT [FK_FamiliaFamilia_Padre]
GO
ALTER TABLE [dbo].[Perfil_x_Familia]  WITH CHECK ADD  CONSTRAINT [FK_PerfilFamilia_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Perfil_x_Familia] CHECK CONSTRAINT [FK_PerfilFamilia_Familia]
GO
ALTER TABLE [dbo].[Perfil_x_Familia]  WITH CHECK ADD  CONSTRAINT [FK_PerfilFamilia_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Perfil_x_Familia] CHECK CONSTRAINT [FK_PerfilFamilia_Perfil]
GO
ALTER TABLE [dbo].[Perfil_x_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermiso_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Perfil_x_Permiso] CHECK CONSTRAINT [FK_PerfilPermiso_Perfil]
GO
ALTER TABLE [dbo].[Perfil_x_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_PerfilPermiso_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[Perfil_x_Permiso] CHECK CONSTRAINT [FK_PerfilPermiso_Permiso]
GO
ALTER TABLE [dbo].[Permiso_x_Familia]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([IdFamilia])
GO
ALTER TABLE [dbo].[Permiso_x_Familia] CHECK CONSTRAINT [FK_PermisoFamilia_Familia]
GO
ALTER TABLE [dbo].[Permiso_x_Familia]  WITH CHECK ADD  CONSTRAINT [FK_PermisoFamilia_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[Permiso_x_Familia] CHECK CONSTRAINT [FK_PermisoFamilia_Permiso]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
/****** Objeto: Trigger [dbo].[TR_Cliente_BajaLogica] Fecha de script: 9/10/2026 11:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Cliente_BajaLogica]
ON [dbo].[Cliente]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Cliente
    SET Activo_657SGA = 0 
    WHERE DNI_657SGA IN (SELECT DNI_657SGA FROM deleted);
END;

GO
ALTER TABLE [dbo].[Cliente] ENABLE TRIGGER [TR_Cliente_BajaLogica]
GO
/****** Objeto: Trigger [dbo].[TR_DetalleFactura_Inmutable] Fecha de script: 9/10/2026 11:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE TRIGGER [dbo].[TR_DetalleFactura_Inmutable] ON [dbo].[DetalleFactura] AFTER UPDATE AS BEGIN SET NOCOUNT ON; IF UPDATE(IdFactura) OR UPDATE(ISBN_657SGA) OR UPDATE(Cantidad) OR UPDATE(Precio) BEGIN RAISERROR ('Los detalles de una factura emitida son comprobantes legales inmutables y no pueden modificarse.', 16, 1); ROLLBACK TRANSACTION; END END;
GO
ALTER TABLE [dbo].[DetalleFactura] ENABLE TRIGGER [TR_DetalleFactura_Inmutable]
GO
/****** Objeto: Trigger [dbo].[TR_DetalleFactura_NoDelete] Fecha de script: 9/10/2026 11:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE TRIGGER [dbo].[TR_DetalleFactura_NoDelete] ON [dbo].[DetalleFactura] INSTEAD OF DELETE AS BEGIN SET NOCOUNT ON; RAISERROR ('Los detalles de una factura emitida son comprobantes legales inmutables y no pueden eliminarse.', 16, 1); ROLLBACK TRANSACTION; END;
GO
ALTER TABLE [dbo].[DetalleFactura] ENABLE TRIGGER [TR_DetalleFactura_NoDelete]
GO
/****** Objeto: Trigger [dbo].[TR_Evento_Inmutable] Fecha de script: 9/10/2026 11:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Evento_Inmutable]
ON [dbo].[Evento]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    IF UPDATE(IdEvento) OR UPDATE(Login) OR UPDATE(Criticidad) OR UPDATE(Fecha) OR UPDATE(Hora) OR UPDATE(NombreEvento) OR UPDATE(Modulo) OR UPDATE(DNI)
    BEGIN
        RAISERROR ('Los registros de auditoría (Bitácora) son de solo lectura y no pueden modificarse.', 16, 1);
        ROLLBACK TRANSACTION;
    END;
END;

GO
ALTER TABLE [dbo].[Evento] ENABLE TRIGGER [TR_Evento_Inmutable]
GO
/****** Objeto: Trigger [dbo].[TR_Evento_NoDelete] Fecha de script: 9/10/2026 11:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Evento_NoDelete]
ON [dbo].[Evento]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    RAISERROR ('Los registros de auditoría (Bitácora) son inmutables y no pueden eliminarse.', 16, 1);
    ROLLBACK TRANSACTION;
END;

GO
ALTER TABLE [dbo].[Evento] ENABLE TRIGGER [TR_Evento_NoDelete]
GO
/****** Objeto: Trigger [dbo].[TR_Factura_Inmutable] Fecha de script: 9/10/2026 11:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Factura_Inmutable]
ON [dbo].[Factura]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    IF UPDATE(Total) OR UPDATE(Fecha) OR UPDATE(Hora) OR UPDATE(DNICliente) OR UPDATE(NumeroFactura)
    BEGIN
        RAISERROR ('Las facturas emitidas son comprobantes legales inmutables y no pueden modificarse.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;

GO
ALTER TABLE [dbo].[Factura] ENABLE TRIGGER [TR_Factura_Inmutable]
GO
/****** Objeto: Trigger [dbo].[TR_Factura_NoDelete] Fecha de script: 9/10/2026 11:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Factura_NoDelete]
ON [dbo].[Factura]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    RAISERROR ('Las facturas emitidas son comprobantes legales inmutables y no pueden eliminarse.', 16, 1);
    ROLLBACK TRANSACTION;
END;

GO
ALTER TABLE [dbo].[Factura] ENABLE TRIGGER [TR_Factura_NoDelete]
GO
/****** Objeto: Trigger [dbo].[TR_Libro_BajaLogica] Fecha de script: 9/10/2026 11:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Libro_BajaLogica]
ON [dbo].[Libro]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Libro 
    SET Activo_657SGA = 0 
    WHERE ISBN_657SGA IN (SELECT ISBN_657SGA FROM deleted);
END;

GO
ALTER TABLE [dbo].[Libro] ENABLE TRIGGER [TR_Libro_BajaLogica]
GO
/****** Objeto: Trigger [dbo].[TR_Libro_ControlStock] Fecha de script: 9/10/2026 11:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Libro_ControlStock]
ON [dbo].[Libro]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM inserted WHERE Existencias_657SGA < 0)
    BEGIN
        RAISERROR ('Operación abortada: el stock no puede ser inferior a 0 unidades.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;

GO
ALTER TABLE [dbo].[Libro] ENABLE TRIGGER [TR_Libro_ControlStock]
GO
/****** Objeto: Trigger [dbo].[TR_Usuario_NoDelete] Fecha de script: 9/10/2026 11:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   TRIGGER [dbo].[TR_Usuario_NoDelete]
ON [dbo].[Usuario]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    RAISERROR ('No se permite la eliminación física de usuarios para preservar la integridad histórica y referencial. Utilice la baja lógica.', 16, 1);
    ROLLBACK TRANSACTION;
END;

GO
ALTER TABLE [dbo].[Usuario] ENABLE TRIGGER [TR_Usuario_NoDelete]
GO
USE [master]
GO
